* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(111, 106, 106, 0.755);
}

img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 50%;
    height: 1000px;
}

h1 {
    position: relative;
    left: 550px;
    display: inline-block;
    font-size: 150px;
    font-family: 'Arial Black', sans-serif;
    color: white;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url("./alowe house.jpg");
    background-size: 800px 600px;
    background-position: 0 0;


}

@keyframes ongga {
    0% {
        transform: translateX(0);

    }

    100% {
        transform: translateX(-470px);
    }
}



.h-1 {
    animation:
        ongga 2s ease forwards,
        h1uchun 2s ease forwards;
    animation-delay: 2s;

}

@keyframes h1uchun {

    0% {

        background-position: 0 1200px;

    }

    100% {
        color: transparent;
        background-position: 143.9% 1200px;
    }
}


.h-2 {
    animation:
        ongga 2s ease forwards,
        h2uchun 2s ease forwards;
    animation-delay: 2s;
}

@keyframes h2uchun {

    0% {

        background-position: 100% 1040px;

    }

    100% {
        color: transparent;
        background-position: 143.9% 1040px;
    }

}



.container {
    width: 60%;
    height: 143.9%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    animation: moveRight 4s ease forwards;
}

@keyframes moveRight {
    0% {
        transform: translate(0, -1010px);
        ;
    }

    50% {
        transform: translate(-20px, -1010px);
    }

    100% {
        transform: translate(760px, -1010px);
    }
}